<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- DON T FORGET TO PROVIDE HERE THE AZURE AI KEY -->
  <InstrumentationKey>Your Key</InstrumentationKey>
  
    <TelemetryInitializers>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.AzureRoleEnvironmentTelemetryInitializer, Microsoft.AI.WindowsServer"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.AzureWebAppRoleEnvironmentTelemetryInitializer, Microsoft.AI.WindowsServer"/>
	</TelemetryInitializers>
	<TelemetryModules>
		<Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule, Microsoft.AI.PerfCounterCollector">
      <Counters>
        
        <!-- template for a Azure VM SQL Server -->
        <Add PerformanceCounter="\System\Processor Queue Length" ReportAs="Processor Queue Length" />
        <Add PerformanceCounter="\Network Interface(Microsoft Hyper-V Network Adapter _2)\Bytes Total/sec" ReportAs="Network Bytes Total/sec" />
        <Add PerformanceCounter="\Processor Information(_Total)\% Processor Time" ReportAs="% Processor Time" />
        <Add PerformanceCounter="\PhysicalDisk(_Total)\Avg. Disk sec/Read" ReportAs="Avg. Disk Read/sec" />
        <Add PerformanceCounter="\PhysicalDisk(_Total)\Avg. Disk sec/Write" ReportAs="Avg. Disk Write/sec" />
        <Add PerformanceCounter="\SQLServer:SQL Statistics\Batch Requests/sec" ReportAs="SQL Batch Requests/sec" />
        <Add PerformanceCounter="\SQLServer:General Statistics\User Connections" ReportAs="SQL User Connections" />
        
      </Counters>
		</Add>
		<Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryModule, Microsoft.AI.PerfCounterCollector"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.AppServicesHeartbeatTelemetryModule, Microsoft.AI.WindowsServer"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.UnhandledExceptionTelemetryModule, Microsoft.AI.WindowsServer"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.UnobservedExceptionTelemetryModule, Microsoft.AI.WindowsServer"/>
	</TelemetryModules>
	<ApplicationIdProvider Type="Microsoft.ApplicationInsights.Extensibility.Implementation.ApplicationId.ApplicationInsightsApplicationIdProvider, Microsoft.ApplicationInsights"/>
	<TelemetryProcessors>
		<Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryProcessor, Microsoft.AI.PerfCounterCollector"/>
		<Add Type="Microsoft.ApplicationInsights.Extensibility.AutocollectedMetricsExtractor, Microsoft.ApplicationInsights"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
			<MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
		</Add>
	</TelemetryProcessors>
	<TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel"/>
</ApplicationInsights>